<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


   <!-- use for api 33 permissions-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyToEnglish">
        <activity
            android:name=".Day12"
            android:exported="false" />
        <activity
            android:name=".Day11"
            android:exported="false" />
        <activity
            android:name=".Day10"
            android:exported="false" />
        <activity
            android:name=".Day9"
            android:exported="false" />
        <activity
            android:name=".Day8"
            android:exported="false" />
        <activity
            android:name=".Day7"
            android:exported="false" />
        <activity
            android:name=".Day6"
            android:exported="false" />
        <activity
            android:name=".Day5"
            android:exported="false" />
        <activity
            android:name=".Day4"
            android:exported="false" />
        <activity
            android:name=".Day3"
            android:exported="false" />
        <activity
            android:name=".Day2"
            android:exported="false" />
        <activity
            android:name=".Day1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>